body {
  background: #fff6e9;
}
.logo-circle {
  background: linear-gradient(135deg, #ff7a00, #ff3d00);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.custom-nav {
  border-bottom: 2px solid #f7eedd;
}

.nav-icon {
  color: #425066;
  font-size: 20px;
  transition: 0.2s;
}
.nav-icon:hover {
  color: #ff7a00;
}

.profile-pic {
  width: 38px;
  height: 38px;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid #ff7a00;
}
.profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.dropdown-mobile {
  border-bottom: 2px solid #f7eedd;
}

.mobile-links li a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
  font-size: 17px;
  color: #425066;
  text-decoration: none;
  transition: 0.2s;
}
.mobile-links li a:hover {
  color: #ff7a00;
}
.mobile-links i {
  font-size: 20px;
}


.recipe-wrapper {
  background: #fff;
  border-radius: 22px;
}

.recipe-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 22px;
  border-top-left-radius: 22px;
}

.rating-badge {
  top: 24px;
  left: 24px;
  border-radius: 50px;
  padding: 8px 16px;
}
.time-card {
  bottom: 24px;
  left: 24px;
  right: 24px;
  gap: 32px;
  border-radius: 20px;
}
.badge-easy {
  background: #e1f9db;
  color: #008235;
  padding: 4px 12px;
  font-size: 12px;
}
.badge-asian {
  background: #dce9ff;
  color: #2756c7;
  padding: 4px 12px;
  font-size: 12px;
}

.icon-btn {
  width: 45px;
  height: 45px;
  background: #ffedd4;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff6b35;
}
.alert-info {
  border-left: 4px solid #e7000b;
  background-color: #fef2f2;
}
.alart-text > p {
  color: rgb(159, 7, 18);
}
.color-red {
  color: #e7000b;
}

.nav-tabs .nav-link {
  border: none;
  font-weight: 600;
  color: #6c6c6c;
  padding: 10px 15px;
}
.nav-tabs .nav-link.active {
  color: #ff6b35;
  border-bottom: 3px solid #ff6b35;
}
.links_tabs {
  padding: 24px;
  border-bottom: 1px solid rgba(204, 200, 200, 0.7);
}
.circle-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff6b35;
}
.bg-color {
  background-color: #fff9ec;
}
.tab-pane{
  height: 320px;
}
.button_style{
  margin-top: 32px;
  border-top: 1px solid rgba(128, 128, 128 ,0.5);
}
.try-btn {
  background:linear-gradient(to right, #f55d26 50%,red 80%);
  color: white;
  font-weight: 600;
  padding: 12px 24px;
  transition: all 0.2s;
}
.try-btn:hover{
  transform: scale(1.1);
  background: linear-gradient(to right , red 60%,rgb(233, 10, 25));
}
.instraction-number{
  width: 40px;
  height: 40px;
  background-color:#ff6b35 ;
  font-size: 14px;
}
.nutri-card {
  background: #f9fafb;
  border-radius: 12px;
}
.icon-box {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  color: #ff6b35;
}
.Nutrition{
  height: 350px;
}
.tips-list .tip-item {
  background-color: #fff8e5; 
  border-left: 6px solid #ff9800;
}

.tip-icon {
  width: 30px;
  height: 30px;
  background-color: #ff9800;
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {  
  .h-lg-750 {
    height: 750px !important;
  }
}







